@model MyBlog.Models.ArticleModels.Article
@{
    ViewData["Title"] = "Delete Article";
}

<h2>Delete Article</h2>
<div>
    <article class="article">
        @await Html.PartialAsync("_Article", Model)
    </article>
</div>
<form role="form" asp-controller="Article" asp-action="Delete" method="post">
    <input type="hidden" name="id" value="@Model.Id" />
    <div class="form-group">
        <input type="submit" class="btn btn-primary" value="Confirm Delete" />
    </div>
</form>