<form asp-action="Index" asp-controller="Home" class="navbar-right">
    <ul class="search nav navbar-nav navbar-right">
        <li>
            <button type="submit" class="search btn btn-default navbar-btn navbar-link">Search</button>
        </li>
        <li>
            <input class="form-control" type="text" name="searchText" value="@ViewBag.searchText" />
        </li>
    </ul>
</form>
